@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

h1 {
  font-size: 1.45rem;
}

header {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 15px;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.36);
}
header img {
  width: 50%;
}

.location {
  background-color: rgba(128, 128, 128, 0.2);
}
.location a {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
  align-items: baseline;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.location a i {
  margin-right: 0px;
}

.business {
  background-color: rgba(128, 128, 128, 0.109);
  padding-top: 30px;
  padding-bottom: 40px;
  margin: auto;
  text-align: center;
  width: 100%;
}
.business h1 {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}
.business p {
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 1rem;
}
.business a {
  display: block;
  width: 65%;
  margin: auto;
}

.btn {
  margin-top: 16px;
  background: linear-gradient(169deg, #ec1bbe 0%, #9356dc 100%);
  box-shadow: 0px 4px 50px -26px rgba(0, 0, 0, 0.22);
  padding: 12px 2px 12px 2px;
  border-radius: 50px;
  opacity: 1;
  transition: 0.5s;
}
.btn a {
  margin: 0;
  font-weight: 500;
  color: white;
  margin: auto;
}

.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 50px -3px rgba(0, 0, 0, 0.22);
}

.functioning {
  width: 90%;
  margin: auto;
}
.functioning .tuto {
  width: 90%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin: 10px 0px 10px 10px;
  background-color: rgba(128, 128, 128, 0.109);
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.functioning .tuto p:nth-child(1) {
  width: 10px;
  height: 10px;
  color: white;
  background-color: #9356DC;
  padding: 5px 5px 5px 5px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  left: -8px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.functioning .tuto p:nth-last-child(1) {
  margin-left: 0px;
  color: black;
  font-weight: 500;
}
.functioning .tuto i {
  margin-left: 5%;
  width: 10px;
  text-align: center;
  margin-right: 10%;
  color: gray;
}
.functioning .tuto-color {
  background-color: #9256dc2f;
}
.functioning .tuto-color i {
  color: #9356DC;
}

.restaurant {
  width: 100%;
  margin-top: 40px;
  background-color: rgba(128, 128, 128, 0.109);
}
.restaurant .container-restaurant {
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

.card {
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
}
.card .card-picture {
  height: 160px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card .card-picture img {
  object-fit: cover;
  width: 105%;
  height: 140%;
  position: absolute;
  top: -40%;
  left: 0%;
}
.card .text-card {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .text-card h3 {
  margin: auto;
  font-size: 1rem;
  margin-top: 15px;
}
.card .text-card p {
  margin: 3px 0 15px 0;
  font-size: 0.95rem;
  font-weight: 300;
}

.card-hearth {
  fill: transparent;
  stroke: grey;
  stroke-width: 10%;
  cursor: pointer;
  position: relative;
  right: 10px;
}
.card-hearth svg {
  overflow: visible;
  width: 1.2rem;
  height: 1.4rem;
}
.card-hearth path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.card-hearth .hearth-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.card-hearth .hearth:hover path {
  animation: stroke-animation 0.5s ease-in-out forwards;
}
.card-hearth .hearth:hover ~ .hearth-background path {
  animation: fade-animation 0.5s ease-in-out forwards;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 750;
  }
  80% {
    stroke-dashoffset: 1250;
    fill: url(#gradient);
  }
  100% {
    stroke-dashoffset: 1550;
    fill: url(#gradient);
  }
}
@keyframes fade-animation {
  70% {
    fill: #9356DC;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
