@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

$primary : #9356DC;
$secondary : #FF79DA;
$tertiary : #99E2D0;
$degrade: linear-gradient(169deg, rgba(236,27,190,1) 0%, rgba(147,86,220.1,1) 100%);

.loading{
    position: fixed;
    z-index: 7 ;
    opacity:0;
    top:-20px; 
    display :flex;
    justify-content:center;
    align-items:center;
    height:0vh;
    width: 100%;
    background: #cf88ff;
    animation:opacity-o 10s forwards;
    
  }
  
.glass{
    position: relative;
    width:200px;
    height:300px;
    background:rgba(255,255,255,0.1);
    border-radius : 20px 20px 15px 15px; 
    border: 8px solid transparent ;
    transform-origin:bottom center;
    animation: anim-balance 5s linear forwards;
    
  }
@keyframes opacity-o{
    0%{
      opacity:1;
      visibility: visible;
      height: 120vh;
      
      
    }
    50%{
      opacity:1;
      visibility: visible;
      height: 120vh;
      
      
    }
    100%{
      opacity:0;
      visibility: hidden;
        height: 0vh;
      left: 0;
    }
    
  }
@keyframes anim-balance{
    0%{
      transform:rotate(0deg);
    }
    25%{
      transform:rotate(15deg);
    }
    50%{
      transform:rotate(0deg);
    }
    75%{
      transform:rotate(-15deg);
    }
    100%{
      transform:rotate(0deg);
      
    }
    
  }
 
.glass::before{
    content:'';
    position :absolute;
    top:-9.3%;
    left: -4%;  
    width:87%;
    height: 30px;
    border:19px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    box-shadow : 0px 5px  rgba(34,34,34,0.5242471988795518);  
  }
  
.glass::after{
    content:'';
    position:absolute;
    top:20%;
    right:0;
    width: 80px;
    height: 200px; 
    background: rgba(255,255,255,0.05);
    border-radius:70%;
  }
  
  .big-grad3{
    position: absolute;
    background-color:black;
    width:40%;
    height:3px;
    top:40%;
    left:2.5%;
  }
  .grad3{
     position: absolute;
    background-color:black;
    width:20%;
    height:3px;
    top:50%;
    left:2.5%;
  }
.big-grad2{
    position: absolute;
    background-color:black;
    width:40%;
    height:3px;
    top:60%;
    left:2.5%;
  }
.grad2{
     position: absolute;
    background-color:black;
    width:20%;
    height:3px;
    top:70%;
    left:2.5%;
  }
.big-grad{
    position: absolute;
    background-color:black;
    width:40%;
    height:3px;
    top:80%;
    left:2.5%;
  }
.grad{
    position: absolute;
    background-color:black;
    width:20%;
    height:3px;
    top:90%;
    left:2.5%;
  }
  
.liquid{
    
    position:absolute;
    top:30%;
    left:5px;
    right:5px;
    bottom:5px;
    background: #99E2D0;  
    border-radius: 0px 0px 10px 10px;
    transform-origin:top center;
    filter:drop-shadow(0 0 60px #99E2D0);
    animation: loading 5s ease-in-out 1;
  }
@keyframes loading{
    0%{
      top:100%;
    }
    50%{
      top:70%
    }
    100%{
      top:30%;
    }
  }

.liquid::after{
    content:'';
    position:absolute;
    top:-10px;
    width:100%;
    height:20px;
    background:#6B9E91;
    border-radius:50%;
    filter:drop-shadow(0 0 60px #99E2D0);
  }




body{
    
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    width: 100%;
}

h1{
    font-size: 1.45rem;
}

header{
    text-align: center;
    margin:auto;
    margin-top: 20px;
    padding-bottom: 15px ;
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.36);
    i{
    position: absolute;
    font-size: 1.5rem;
        color: #383838;
        left: 30px;
        top: 26px;
    }
    h1{
        font-family: 'Shrikhand', cursive;
        margin: 0;
        font-size: 2.1rem;
    }
}

@media all and (min-width: 800px) {
    header{
        h1{
            font-size: 2.7rem;
        }
    }
        
}

main{
    width: 100%;
    position: relative;
}



.location{
    background-color: rgba(128, 128, 128, 0.2);
    form{
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        align-items: baseline;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        i{
            margin-right: 0px;
        }
        input{
            padding :5px 0px;
            margin-top: 5px;
            font-size: 1.3rem;
            background-color: #e6e6e6;
            border: none;
            text-align: center;
            font-weight: 400;
            color: black;
            width: 200px;
        }
        ::placeholder{
            color: black;
            opacity: 1;
        }
    }

}
@media all and (min-width: 800px) {
    .location{
        a{
            width: 30%;
            margin: auto;
            font-size: 1.3rem;
        }
    }
        
}
@media all and (min-width: 800px) {
    .location{
        a{
            justify-content: center;
            width: 30%;
            margin: auto;
            font-size: 1.3rem;
            p{
                margin-left: 15px;
            }
        }
    }
        
}

.business{
    background-color: rgba(128, 128, 128, 0.109);
    padding-top: 30px;
    padding-bottom: 40px;
    margin: auto;
    text-align: center;
    width: 100%;
    h1{
        width: 70%;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    }
    p{
        margin: auto;
        width: 90%;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 1rem;
    }
    a{
        display: block;
        width: 65%;
        margin: auto;
    }
}

@media all and (min-width: 800px) {
    .business{
        a{
            width: 40%;
            margin: auto;
            font-size: 1.2rem;
        }
    }
        
}

.btn{
    margin-top: 16px;
    background: linear-gradient(169deg, #FF79DA 0%, #9356DC 100%);
    box-shadow: 0px 8px 50px -5px rgba(0,0,0,0.5);
    padding: 12px 2px 12px 2px;
    border-radius: 50px;
    opacity: 1;
    transition: 0.5s;
    a{
        margin: 0;
        font-weight: 500;
        color: white;
        margin: auto;
    }
}

.btn:hover{
    opacity: 0.8;
    box-shadow: 8px 4px 50px -3px rgba(0,0,0,1);
}

.functioning{
    width: 90%;
    margin: auto;
    .tuto{
        width: 90%;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        margin:10px 0px 10px 10px;
        background-color: rgba(128, 128, 128, 0.109);
        border-radius: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        p:nth-child(1){
            width: 10px;
            height: 10px;
            color: white;
            background-color: $primary;
            padding : 5px 5px 5px 5px;
            border-radius: 50%;
            text-align: center;
            position: relative;
            left: -8px;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        p:nth-last-child(1){
            margin-left: 0px;
            color: black;
            font-weight: 500;
        }
        i{
            margin-left: 5%;
            width: 10px;
            text-align: center;
            margin-right: 10%;
            color: rgb(128, 128, 128);
        }
        
    }
    .tuto-color{
        background-color: #9256dc2f;
        i{
            color: $primary;
        }
    }
}
@media all and (min-width: 800px) {
    .container-tuto {   
        margin: auto;
        width: 90%;
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        .tuto{
            width: 45%;
            margin-left: 25px;
        }  
    }    
}
@media all and (min-width: 980px) {
    .container-tuto {   
        margin: auto;
        width: 90%;
        display: flex; 
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        .tuto{
            width: 25%;
            margin-left: 25px;
        }  
    }    
}
.restaurant{
    width: 100%;
    margin-top: 40px;
    background-color: rgba(128, 128, 128, 0.109);
    padding-bottom: 60px;
    .container-restaurant{
        width: 90%;
        margin: auto;
        padding-top: 30px;
    }
}

.card{
    background-color: white;
    border-radius: 15px;
    margin-top: 15px;
    .card-picture{
        height: 185px;
        position: relative;
        overflow: hidden;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        img{
            object-fit: cover;
            width: 100%;
            height: 135%;
            position: absolute;
            top: -35%;
            right: 0%;
        }
        p{
            position: absolute;
            right: 10px;
            top: 10px;
            margin: 0;
            background-color: $tertiary;
            color: rgba(0, 0, 0, 0.511);
            font-weight: 500;
            font-size: 0.9rem;
            padding: 6px 12px;
            border-radius: 5%;
        }
    }
    .text-card{
        margin:auto;
        width: 93%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            margin: auto;
            font-size: 1rem;
            margin-top: 15px;
            color: black;
        }  
        p{
            margin: 3px 0 15px 0;
            font-size: 0.95rem;
            font-weight: 300;
            color: black;
        }      
    }
}

@media all and (min-width: 800px) {
    .container-card{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        column-gap: 15px;
        width: 100%;
    }
    
    .card {   
        
        width: 100%;
           
        } 
        
}
@media all and (min-width: 980px) {
    .container-card{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: auto;
        column-gap: 15px;
        width: 90%;
    }
    .a-card{
        width: 20%;
    }
    .card {   
        
        width: 100%
           
        } 
        
}

.card-hearth{
    fill: transparent;
    stroke: grey;
    stroke-width: 8%;
    cursor: pointer;
    position: relative;
    right: 10px;
    svg{
        overflow: visible;
        width: 1.2rem;
        height: 1.4rem;
    }
    path{
        stroke-dashoffset: 0;
        stroke-dasharray: 1550;
        transform-origin: center;
    }
    .hearth-background{
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        stroke: none;
    }
    .hearth:hover path{
        animation: stroke-animation 0.5s ease-in-out forwards;
    }
    .hearth:hover ~ .hearth-background path{
        animation: fade-animation 0.5s ease-in-out forwards;
    }

}


@keyframes stroke-animation {
    0%{
        stroke-dashoffset:0;
    }
    50%{
        stroke-dashoffset: 750;
        transform: scale(1);
        
    }
    80%{
        stroke-dashoffset: 1250;
        fill: url(#gradient) ;
        transform: scale(1.1);

    }
    100%{
        stroke-dashoffset:1550;
        fill: url(#gradient);
        transform: scale(1.1);
    }   

}


footer{
    background-color: #383838;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px;
    .container-footer{
        width: 90%;
        margin: auto;
    }
    h4{
        font-family: 'Shrikhand', cursive;
        color: white;
        margin: 5px 0px 10px 0px;
        font-size: 1.2rem;
    }
    .footer-grid{
        display: grid ;
        grid-template-columns: 20px 1fr;
        grid-template-rows: 1fr ;
        align-items: baseline;
        p{
            margin: 4px 0px 4px;
        }
    }
    a{
        font-size: 0.95rem;
        font-weight: 500;
    }
    a:hover{
        text-decoration: underline;
    }
    p{
        margin: 5px 0px 5px 0px;
    }
    i{
        font-size: 0.8rem;
    }

}

//template


.menu{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: whitesmoke;
    padding-bottom: 40px;
    position: relative;
    top: -20px;
    width: 100%;
    margin: auto;
    
}

.background-img{
    width: 100%;
    height:250px;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 110%;

    }
}

.main-menu{
    background-color: whitesmoke;
}

.menu{
    .menu-restaurant{
        width: 90%;
        margin: auto;
        padding-bottom: 10px;
        .header-menu{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding-top: 10px;
            h1{
                font-family: 'Shrikhand', cursive;
                font-size: 1.7rem;
                
            }
        }
        .btn{
            width: 50%;
            text-align: center;
            margin: auto;
            margin-top: 30px;
        }
    }
    
}


.corp-menu{

    h2{
        font-size: 1.3rem;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .underline{
        background-color: $tertiary;
        width: 14%;
        height: 4px;
    }
    
}
@media all and (min-width: 1100px) {
    .corp-menu{
        h2{
            font-size: 1.5rem;
        }
        .underline{
            width: 3%;
            }
    }
    .container-card2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-column-gap: 15px; 
    }
        
}

.card-menu{
    position: relative;
    color: black;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    margin-top: 15px;
    width: 100%;
    box-shadow: 1px 2px 29px -14px rgba(0,0,0,0.52);
    .card-text{
        display: block;
        padding: 7px 0px 7px 7px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
       .text{
            width: 100%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
        }
        h3, p{
            
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 1px;
        }
        h3{
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 5px;
        }
        p{
            font-size: 1rem;
            font-weight: 300;
            margin-bottom: 0px;
            overflow: hidden;

        }
        .price{
            position: relative;
            padding-right: 10px;
            transition: padding 0.4s linear;
            p{
                font-weight: 500;
            }
        }
        
        
    }
    
    
    .card-check{
        background-color: #99E2D0;
        height: 100%;
        position :absolute;
        right: 0px;
        padding: 0px 17px;
        border-top-right-radius: 10px;
        border-bottom-right-radius:10px ;
        transition: transform 0.5s ;
        transform: translateX(70px);
        display: flex;
        align-items: center;
        i{
            text-align: center;
            color: white;
            font-size: 1.5rem;
            transition: transform 0.8s ;
            transition: animation 0.5s;
        }
    }

   
    

}
.card-menu:hover{
    .price{
        padding-right: 20%;
        
    }
    .card-check{
        transform: translateX(0px);
        align-items: center;
        i{
            animation: myrotate 0.5s ease-in-out;
        }
    }
   
    

}

@media all and (min-width: 900px) {
    .card-menu:hover{
        .price{
            padding-right:20% ;
        }
    }
}
@media all and (max-width: 700px) {
    .card-menu:hover{
        .price{
            padding-right:15% ;
        }
    }
        
}
@media all and (max-width: 420px) {
    .card-menu:hover{
        .price{
            padding-right:20% ;
        }
    }
        
}

@keyframes myrotate {
    0%{
        transform: rotate(0deg);
    }    
    100%{
        transform: rotate(359deg);
    }
}

@keyframes slideDown {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.card-menu{
    transition: 0.5s;
    animation: slideDown 1s forwards;
    animation-delay: 0.5s;
}

.s1{
    animation-delay: 0.2s;
}
.s2{
    animation-delay: 0.4s;
}
.s3{
    animation-delay: 0.6s;
}
.s4{
    animation-delay: 0.8s;
}

//vers doseur qui ce rempli, chargement
